body {
    font-family: KaiTi, serif;
    background-color: white;
}

header {
    height: 30px;
    color: white;
    width: 100%;
    min-width: 1000px;
    background-color: black;
    border-bottom: 1px solid darkgray;
    position: fixed;
    z-index: 5;
}

button:focus {
    outline: none;
}

#title {
    font-family: "Comic Sans MS", serif;
    font-size: 20px;
    position: absolute;
    margin: 5px 9px 5px 10px;
    display: inline;
}

#sign {
    display: inline;
    position: absolute;
    margin: 10px 90px 5px 250px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: yellow;
}

.after-sign{
    display: none;
}

#information {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px 50px 5px 0;
    font-size: 15px;
}

#goods-number {
    position: relative;
    background-color: white;
    border-radius: 100%;
    padding: 3px 7px;
    color: black;
    font-weight: bold;
}

#drop a[href="./cart.html"]::before {
    position: fixed;
    opacity: 0;
    transition: all ease 0.3s;
}

#drop a[href="./cart.html"]::before {
    content: "";
    border-width: 0 8px 10px 8px;
    border-style: solid;
    border-color: transparent transparent #e1e1e1 transparent;
    top: 30px;
    margin-left: 10px;
}


#drop:hover a[href="./cart.html"]::before {
    opacity: 1;
}

#drop {
    display: inline-block;
}

#goods-in-cart {
    position: fixed;
    right: 10px;
    top: 40px;
    background-color: #e1e1e1;
    border-radius: 10px;
    transition: all ease 0.3s;
    opacity: 0;
    visibility: hidden;
}

#goods-in-cart td {
    font-size: 10px;
    font-family: "Comic Sans MS";
    color: black;
    position: relative;
    padding: 5px;
    border-bottom: 2px solid #f3f3f3;
}

#goods-in-cart td img {
    vertical-align: text-top;
}


#drop:hover #goods-in-cart {
    opacity: 1;
    visibility: visible;
}

#search {
    height: 111px;
    color: black;
    width: 100%;
    min-width: 1500px;
    position: relative;
}

#search a {
    text-decoration: none;
    font-size: 50px;
    color: black;
    font-family: "Impact", serif;
    position: absolute;
    top: 30px;
    left: 20px;
}

#search form input {
    width: 250px;
    height: 23px;
    border: solid 1px black;
    border-radius: 20px;
    resize: none;
    right: 0;
    top: 0;
    position: absolute;
    margin: 50px 100px 5px 0;
    padding: 5px 10px;
}

#search form input:focus {
    outline: none;
    border: solid 1px blue;
}

#search form label {
    right: 0;
    top: 0;
    position: absolute;
    margin: 50px 55px 5px 0;
}

#search form label:hover {
    color: blue;
    cursor: pointer;
}

nav {
    display: block;
    background-color: darkgray;
    position: relative;
    height: 70px;
    width: 100%;
    white-space: nowrap;
    min-width: 1500px;
    border-bottom: 1px solid gray;
}

nav ul li {
    display: inline-block;
    margin: 0;

}

nav ul li a {
    line-height: 70px;
    color: black;
    text-decoration: none;
    padding: 25px 60px;
    font-size: 20px;
}

nav ul li a:hover,nav .now{
    background-color: gray;
    color: white;
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    display: none;
}

.popup:target {
    display: block;
}

.input-group-addon {
    padding: 15px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 20px;
    vertical-align: middle;
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

#sign-in-content {
    width: 600px;
    height: 500px;
    margin: 100px auto;
    background-color: floralwhite;
}

.popup .title {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    font-weight: bold;
    color: #555;
}

.popup form p{
    color: red;
    position: absolute;
    width:350px;
    left:270px;
    top:10px;
    font-size: 20px;
    display: none;
}

#sign-in-content div {
    position: relative;
    margin: 50px 180px;
    top: 50px;
    width: 300px;
}

.popup input[type="text"], input[type="password"] {
    position: relative;
    width: 200px;
    padding: 14px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    vertical-align: middle;
}

.popup button[type="button"] {
    position: absolute;
    margin: 70px 170px;
    padding: 5px 20px;
    background-color: #3385ff;
    border: 0;
    border-bottom: 1px solid #2d78f4;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    width: 80px;
}

.popup button[type="button"]:hover {
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
}

.popup button[type="button"]:active {
    background-color: #3075dc;
}

.popup button[type="reset"] {
    position: absolute;
    margin: 70px 350px;
    padding: 5px 20px;
    background-color: #d9d9d9;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    width: 80px;
}

.popup button[type="reset"]:hover {
    background-color: #c9c9c9;
    border-bottom: 1px solid #bababa;
}

.popup button[type="reset"]:active {
    background-color: #bababa;
}

#register-content {
    width: 800px;
    height: 750px;
    margin: 100px auto;
    background-color: floralwhite;
}

#register-content div {
    position: relative;
    margin: 50px 200px;
    top: 50px;
    width: 300px;
}

#register-content button[type="button"] {
    margin: 70px 250px;
}

#register-content button[type="reset"] {
    margin: 70px 440px;
}

footer {
    height: 30px;
    color: white;
    width: 100%;
    min-width: 1500px;
    background-color: black;
    border-top: 1px solid darkgray;
    text-align: center;
    position: relative;
}